<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.UserTestCopyMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.UserTestCopy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="job_num" jdbcType="VARCHAR" property="jobNum" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="depid" jdbcType="INTEGER" property="depid" />
    <result column="dep_name" jdbcType="VARCHAR" property="depName" />
    <result column="comid" jdbcType="INTEGER" property="comid" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="com_name" jdbcType="VARCHAR" property="comName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
</mapper>